data/genomes/raw/*
data/genomes/raw/flat/*.fasta
data/genomes/raw/ncbi_dataset/**/*.fna
*.fa
!data/references/raw/*.fasta
!data/references/processed/*.fasta
ncbi_dataset.zip
logs/
results/six_homologs/haplotig_check/
results/six_homologs/classified/exonerate_tmp/
*.fai
