data/genomes/raw/*
data/genomes/raw/flat/*.fasta
data/genomes/raw/ncbi_dataset/**/*.fna
*.fa
!data/references/raw/*.fasta
!data/references/processed/*.fasta
ncbi_dataset.zip
logs/*
!logs/*.log
results/six_homologs/haplotig_check/
results/six_homologs/classified/exonerate_tmp/
*.fai
busco_*.log
busco_downloads/
results/busco/*/tmp/
results/busco/*/logs/
results/busco/*/run_*/miniprot_output/*.mpi
results/busco/*/run_*/busco_sequences/
results/busco/*/run_*/hmmer_output/
results/busco/*/run_*/miniprot_output/translated_proteins/
*.faa
*.fna
*.phy
*.nex
